
:root{
    font-family: 'Roboto Condensed', monospace;
    font-size: 18px;
    background-color: white;
}

h1{
    color:teal
}
h2{
    color: turquoise
}
h3{
    color: cadetblue;

}

.large-img{
    width: 345px;
}


.tab{
    margin-left: 50px;
}

[class="tab"]{
    color: palevioletred;
    font-size: 20px;
    font-weight: bold;
    
}